@using MyPortivolio.ViewModel
@model ForgotPasswordViewModel

@{
    ViewData["Tittle"] = " ForgotPasswordConfirmation  Page";
}

<h1>
    Forgot password Confirmation
</h1>
<p>
    Please check your email to reset password
</p>